//defining the global styles and changing variables
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:300,900');

// Set your brand colors
$light-grey: #f5f5f5;
$purple: #8A4D76;
$pink: #FA7C91;
$green:hsl(171, 100%, 41%);
$light-green: hsl(171, 100%, 68%);
$red:  hsl(348, 100%, 61%);
$light-red:  hsl(348, 100%, 71%);
$beige-light: #EFF0EB;
$beige-lighter: #D0D1CD;
$dark: rgb(22,28,41);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $purple;

// Update some of Bulma's component variables
$body-background-color: $beige-light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: $light-grey;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
